/* General Styles */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 10px;
    font-family: 'Noto Sans', sans-serif;
  }
  
  /* Header Styles */
  
  header {
    background-color: #222;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin:  10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Hero Styles */
  
  #hero {
    background-image: url(images/iceland.jpg);
    background-size: cover;
    background-position: top;
    text-align: center;
    padding: 300px 0;
    color: #000000;
  }
  
  #hero h1 {
    font-size: 64px;
    margin-bottom: 40px;
  }

  #projects {
    border-bottom: 3px solid #ccc;
    padding-top: 10px;
    padding-bottom: 30px;
  }